<div class="main-container">
    <div class="header">
        <span>Top 10 Hacker Stories</span>
    </div>
    <div class="article-list-container">
        <div class="article-list">
            <ul class="article-list-inner">
                <li class="article" *ngFor="let item of storyDataView;">
                    <div class="article-img">
                        <img id="story-img" src="{{item.storyImage}}" alt="story image">
                    </div>
                    <div class="article-details">
                        <span class="article-title">{{item.title}}</span>
                        <span class="timestamp">{{item.time | date: 'MMM d, y, h:mm:ss a'}}</span>
                        <div class="additional-details">
                            <div class="author">
                                <strong>Author: </strong><span class="author">{{item.authorId}}</span>
                            </div>
                            <div class="author-karma">
                                <strong>Author Karma: </strong><span class="author">{{item.score}}</span>
                            </div>
                            <div class="story-url">
                                <strong>Story URL: </strong><a href="{{item.url}}" class="author">{{item.url}}</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>